.focus-border {
    width: 0;
    height: 2px;
    transition: 0.4s;
}

.eye-input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
}

.eye-input ~ label {
    top: 9px;
    transition: 0.3s;
    z-index: -1;
}

.eye-input:focus ~ label, .has-content.eye-input ~ label {
    top: -12px;
    left:1px;
    font-size: 12px;
    color: #fb503b;
    transition: 0.3s;
}
